<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
           {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'easyui/themes/default/easyui.css' %}" />

    <script src="{% static 'easyui/jquery.min.js' %}"></script>
    <script src="{% static 'easyui/jquery.easyui.min.js' %}"></script>

    {#  jquery valid js#}
    <script src="{% static 'jquery/validate/jquery.validate.js' %}" type="text/javascript"></script>
    <script src="{% static 'jquery/validate/messages_cn.js' %}" type="text/javascript"></script>

    <script src="{% static 'echarts/echarts.min.js' %}"></script>

    <script>

        function doSearch(){

            vmId=$('#vmList').combobox('getValue');
            counter_name=$('#counter_name').combobox('getValue');
            getData(vmId,counter_name)

        }
        function findVmByProject(){

            project_id=$('#proList').combobox('getValue');
            alert(project_id)
            $('#vmList').combobox('reload', '/LPC/perf_searchVmByProject')


        }
        function doClear(){
            $('#signupForm').form('clear');
        }

        function getData(vmId,counter_name) {

            url = ''
            if (counter_name == 'volume.read.bytes.rate' || counter_name == 'volume.write.bytes.rate') {
                url = '/LPC/perf_searchStaticByVm?resource_id=' + vmId + '&counter_name=' + counter_name
            }
            else if (counter_name == 'network.incoming.bytes.rate' || counter_name == 'network.outgoing.bytes.rate') {
                url = '/LPC/perf_searchNetworkStatic?resource_id=' + vmId + '&counter_name=' + counter_name
            }
            else {
                url = '/LPC/perf_searchStaticByVm?resource_id=' + vmId + '&counter_name=' + counter_name
            }

            showCharts(url)
        }
        function showCharts(url){
            var myChart = echarts.init(document.getElementById('main'));
            // 异步加载数据
            $.getJSON(url, function (data) {

                {#        // 指定图表的配置项和数据#}
                var option = {
                    title: {
                        text: counter_name
                    },
                    tooltip: {
                        show: true,
                        feature: {
                            mark: {show: true},
                            dataView: {show: true, readOnly: false},
                            magicType: {show: true, type: ['line', 'bar', 'stack', 'tiled']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    legend: {
                        name: 'dddd',
                        data: ['ggg', '333', '11']
                    },
                    xAxis: {
                        data: data.categories
                    },
                    yAxis: {},
                    series: []
                };

                //驱动图表生成的数据内容，数组中每一项代表一个系列的特殊选项及数据
                var series_arr = data.series;
                for (var i = 0; i < series_arr.length; i++) {
                    option.series[i] = data.series[i];
                }
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);

            });
        }

    </script>

</head>
<body>

<div>
    <span>project:</span>
    <input id="projectList" class="easyui-combobox" data-options="
        valueField: 'id',
        textField: 'name',
        url: '/LPC/perf_project_init',
        onSelect: function(rec){
            var project_id=$('#projectList').combobox('getValue')
{#            alert(project_id)#}
            var url = '/LPC/perf_searchVmByProject?project_id='+project_id;
            $('#vmList').combobox('clear')
            $('#vmList').combobox('reload', url);
        }">
    <span>vm:</span>
    <input id="vmList" class="easyui-combobox" data-options="valueField:'uuid',textField:'display_name'">
   <span>counter_name:</span>
    <select id="counter_name" class="easyui-combobox" name="state" style="width:200px;">
        <option value="cpu_util">cpu_util</option>
        <option value="memory.usage">memory.usage</option>
        <option value="network.incoming.bytes.rate">network.incoming.bytes.rate</option>
        <option value="network.outgoing.bytes.rate">network.outgoing.bytes.rate</option>
        <option value="volume.read.bytes.rate">volume.read.bytes.rate</option>
        <option value="volume.write.bytes.rate">volume.write.bytes.rate</option>
    </select>

    <input  type="button" value="search" onclick="javascript:doSearch();"/>
    <input class="clear" type="button" value="clear" onclick="javascript:doClear();"/>
</div>


    <div id="main" style="width: 1000px;height:400px;"></div>

</body>
</html>